<header>
    <!-- Navbar -->
   
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">AIRBNB</a>
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
          </ul>
          
          <a routerLink="/login"><button type="button" class="btn btn-primary me-3 rounded-pill">Login</button></a>
          <a routerLink="/register"><button type="button" class="btn btn-secondary rounded-pill">Register</button></a>
        </div>
      </div>
    </nav>
 
<!-- Navbar -->
  </header>

