<footer class="bg-light text-center">
    
    <div class="container p-4">
      
      <section class="mb-4">
        <form action="#">
          
          <div class="row d-flex justify-content-center">
            
            <div class="col-auto">
              <p class="pt-2 text-dark">
                <strong class="text-muted">Sign up for our newsletter</strong>
              </p>
            </div>
            
  
            
            <div class="col-md-5 col-12">
              
              <div class="form-outline mb-4">
                <input type="email" id="form5Example2" class="form-control" placeholder="Email address"/>
              </div>
            </div>
            
  
            
            <div class="col-auto">
  
              
              <button type="submit" class="btn btn-primary mb-4">
                Subscribe
              </button>
            </div>
            
          </div>
          
        </form>
      </section>
      
  
  
      
      <section class="mb-4">
        <p>
          Whether you’re going on a business trip or relocating to a new city, find homes and boutique hotels with 5-star reviews from other business travellers.
        </p>
      </section>
      
  
  
      
      <section class="">
        
        <div class="row">
          
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">About</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-dark text-decoration-none">How Airbnb works</a>
              </li>
              <li>
                <a href="#!" class="text-dark text-decoration-none">Newsroom</a>
              </li>
              <li>
                <a href="#!" class="text-dark text-decoration-none">Investors</a>
              </li>
              <li>
                <a href="#!" class="text-dark text-decoration-none">HotelTonight</a>
              </li>
            </ul>
          </div>
          
  
          
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Community</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-dark text-decoration-none">Diversity & Belonging</a>
              </li>
              <li>
                <a href="#!" class="text-dark text-decoration-none">Accessibility</a>
              </li>
              <li>
                <a href="#!" class="text-dark text-decoration-none">Guest Referrals</a>
              </li>
              <li>
                <a href="#!" class="text-dark text-decoration-none">Host Afghan refugees</a>
              </li>
            </ul>
          </div>
          
  
          
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Host</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-dark text-decoration-none">Host your home</a>
              </li>
              <li>
                <a href="#!" class="text-dark text-decoration-none">Host an Online Experience</a>
              </li>
              <li>
                <a href="#!" class="text-dark text-decoration-none">Resource Centre</a>
              </li>
              <li>
                <a href="#!" class="text-dark text-decoration-none">Community Centre</a>
              </li>
            </ul>
          </div>
          
  
          
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Support</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-dark text-decoration-none">Our COVID-19 Response</a>
              </li>
              <li>
                <a href="#!" class="text-dark text-decoration-none">Help Centre</a>
              </li>
              <li>
                <a href="#!" class="text-dark text-decoration-none">Cancellation options</a>
              </li>
              <li>
                <a href="#!" class="text-dark text-decoration-none">Trust & Safety</a>
              </li>
            </ul>
          </div>
          
        </div>
        
      </section>
      
  
    </div>   
</footer>
<app-copyright></app-copyright>