<section class="intro">
    <div class="bg-image h-100" style="
            background-image: url(https://mdbootstrap.com/img/Photos/new-templates/search-box/img4.jpg);
          ">
      <div class="mask d-flex align-items-center vh-100" style="background-color: rgba(194, 185, 179, 0.2);">
        <div class="container">
          <p class="h1 mb-4 mb-md-5 text-dark text-uppercase text-center">Start Your Search</p>
          <div class="card" style="background-color: rgba(0,0,0,.7);">
            <div class="card-body p-4">
              <div class="row justify-content-center">
                <div class="col-lg-12 col-xl-10 d-lg-flex flex-row mb-lg-4 mb-xl-0">
  
                  <div id="basic" class="form-outline form-white flex-fill me-lg-2 mb-3 mb-lg-0">
                    <label class="form-label text-light" for="form1">What are you looki..</label>
                    <input type="text" id="form1" class="form-control" />
                    
                  </div>
  
                  <div class="form-outline datepicker form-white flex-fill mx-lg-2 mb-3 mb-lg-0" data-mdb-toggle-button="false">
                    <label for="exampleDatepicker1" class="form-label text-light">Arrival date</label>
                    <input type="text" class="form-control" id="exampleDatepicker1" data-mdb-toggle="datepicker" />
                  </div>
  
                  <div class="form-outline datepicker form-white flex-fill mx-lg-2 mb-3 mb-lg-0" data-mdb-toggle-button="false">
                    <label for="exampleDatepicker2" class="form-label text-light">Departure date</label>
                    <input type="text" class="form-control" id="exampleDatepicker2" data-mdb-toggle="datepicker" />
                  </div>
  
                  <div id="location" class="form-outline form-white flex-fill ms-lg-2 mb-4 mb-lg-0">
                    <label class="form-label text-light" for="form2">Number of guests</label>
                    <input type="text" id="form2" class="form-control" />
                    
                  </div>
  
                </div>
                <div class="col-lg-12 col-xl-2">
                  <label class="form-label text-light" ></label>
                  <input class="btn btn-primary btn-rounded btn-block rounded-pill" type="submit" value="Search" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  