<main class="my-5 bg-light">
    <div class="container">
      <div class="row mb-5 gx-5">
        <div class="col-md-5">
          <div
          class="bg-image hover-overlay ripple shadow-1-strong rounded"
          data-mdb-ripple-color="light">
          <img src="https://a0.muscache.com/im/pictures/701d7170-3365-4b75-a255-39feebed95de.jpg?im_w=1200" class="w-100" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
          </a>
        </div>
      </div>
      <div class="col-md-7">
        <h1>Try Hosting</h1>
        <p class="text-muted">Options like self check-in or booking an entire home allow you to interact with your host mainly through in-app messaging – you can message them anytime if something comes up.</p>
        <hr>
        <p class="text-muted">Almost anyone can be a host of a stay or an experience. It's free to sign up and share either your space or your skills with the world. To get started, visit our Host Centre.</p>
        <button type="button" class="btn btn-primary me-3 rounded-pill">Post Your Requirement Here</button>
      </div>
      </div>
      <div class="row my-5">
        <div class="col-md-4"><div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img
              src="https://a0.muscache.com/im/pictures/32776fd5-bf65-4dcf-aaba-36c6ee6518eb.jpg?im_w=1200"
              class="img-fluid"
            />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Effortless arrivals</h5>
            <p class="card-text">
              Private airport pick-up, an in-person welcome, and a stocked home are some of our featured add-ons.
            </p>
            <a href="#!" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
        <div class="col-md-4"><div class="card">
<div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
  <img
    src="https://a0.muscache.com/im/pictures/miso/Hosting-53037539/original/600fc13e-28b9-4eca-835a-dcc7775ecd98.jpeg?im_w=1200"
    class="img-fluid"
  />
  <a href="#!">
    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
  </a>
</div>
<div class="card-body">
  <h5 class="card-title">Luxury amenities</h5>
  <p class="card-text">
    Fully equipped to meet your needs, with ample space and privacy.
  </p>
  <a href="#!" class="btn btn-primary">Details</a>
</div>
</div></div>
        <div class="col-md-4"><div class="card">
<div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
  <img
    src="https://a0.muscache.com/im/pictures/cdf0b08c-6180-4b9d-93c1-e6a687216f40.jpg?im_w=1200"
    class="img-fluid"
  />
  <a href="#!">
    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
  </a>
</div>
<div class="card-body">
  <h5 class="card-title">Custom itineraries</h5>
  <p class="card-text">
    Your trip designer can plan every last detail and make sure everything is just right.
  </p>
  <a href="#!" class="btn btn-primary">Details</a>
</div>
</div></div>
      </div>
    </div>
  </main>
